  <% unless @flight_search_results.nil? %>
    <% if @flight_search_results.empty? %>
      <p style="color: red">There are no flights available fitting these exact parameters. Try a different date.</p>
    <% else %>
      <h1>Flight Results:</h1>
      <h2>
        <%= @flight_search_results.first.departure_airport.name %>
        <svg  style="width:24px;height:24px;transform: rotate(45deg)" viewBox="0 0 24 24">
          <path fill="currentColor" d="M20.56 3.91C21.15 4.5 21.15 5.45 20.56 6.03L16.67 9.92L18.79 19.11L17.38 20.53L13.5 13.1L9.6 17L9.96 19.47L8.89 20.53L7.13 17.35L3.94 15.58L5 14.5L7.5 14.87L11.37 11L3.94 7.09L5.36 5.68L14.55 7.8L18.44 3.91C19 3.33 20 3.33 20.56 3.91Z" />
        </svg>  
        <%= @flight_search_results.first.arrival_airport.name %>
      </h2>
      <%= form_with url: "bookings/new", method: :get do |form| %>
        <%= form.hidden_field :passenger_count, value: params[:passenger_count] %>
        <% @flight_search_results.each do |flight| %>
          <div><%= form.radio_button(:flight, flight.id) %></div>
          <div><strong>Flight:</strong><%= form.label :flight, " #{flight.id}" %></div>
          <div><strong>Flight Date: </strong><%= flight.start.strftime('%b %d, %Y')%></div>
          <div><strong>Flight Time: </strong><%= flight.start.strftime('%I:%M %p')%></div><br>
        <% end %>
        <%= form.submit "Book Flight" %>
      <% end %>
    <% end %>
  <% end %>